<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex">
    <div>
        <app-timeline [events]="timestamps" [startOfTimeline]="today" [endOfTimeline]="yesterday"></app-timeline>
    </div>
    <div style="flex: 1; padding: 0 15px;">
        <h2>
            Other content to go here.
        </h2>
        <div *ngFor="let e of events">
            <ul>
                <li>{{ e.title }}</li>
                <li>{{ e.description }}</li>
                <li>{{ e.timestamp }}</li>
            </ul>
        </div>
    </div>
</div>
